body {
    font-size: 18px; /* Tamanho maior para mobile */
    padding: 10px;
}

h1 {
    color: #0099ff;
    text-align: center;
}

select {
    font-size: 16px;
    padding: 8px;
    margin: 4px 4px;
    width: 100%;
}

button {
    font-size: 16px;
    padding: 8px;
    margin: 4px 0;
    width: 100%; /* Ocupa toda a largura */
    // color: #ffffff;
    // background-color: #0099ff;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    overflow-x: auto; /* Permite rolagem horizontal */
    display: block; /* Necessário para overflow */
}

td, th {
    border: 1px solid black;
    padding: 12px; /* Mais espaço */
    text-align: left;
    font-size: 16px; /* Tamanho legível */
    min-width: 120px; /* Evita células muito estreitas */
}

#tableContainer {
max-width: 100%;
overflow-x: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 40px;
    font-size: 14px;
    color: #333;
}
footer a {
    color: #0099ff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
